<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsRemoteFileService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Asbt.Data.Properties.Settings.ConnectionString" connectionString="character set=UTF8;data source=127.0.0.1;initial catalog=C:\Kadr\REFERENCE.FDB;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true"/>
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="epTcpFast" openTimeout="00:50:00" receiveTimeout="00:10:00" sendTimeout="00:50:00" transactionFlow="false" transferMode="Streamed" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="Asbt.FileService.FileTransferService">

        <endpoint address="net.tcp://localhost:45000/FileService" binding="netTcpBinding" bindingConfiguration="epTcpFast" name="epTcp" contract="Asbt.FileService.IFileTransferService">
        </endpoint>

        <!--<endpoint 
          address="net.tcp://localhost:45001/" 
          binding="mexTcpBinding" 
          name="mex" 
          contract="IMetadataExchange"/>-->
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <applicationSettings>
    <WindowsRemoteFileService.Properties.Settings>
      <setting name="RootPath" serializeAs="String">
        <value>c:\RFS_Root</value>
      </setting>
    </WindowsRemoteFileService.Properties.Settings>
  </applicationSettings>
</configuration>
